<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cp16306_nhom5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="QuizApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CP16306_Nhom6">
        <activity android:name=".Activities.AllLevelsActivity"></activity>
        <activity android:name=".Activities.CategoryActivity" />
        <activity android:name=".Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PlayActivity" />
        <activity android:name=".Activities.ResultActivity" />
        <activity android:name=".Activities.QuizActivity" />
        <activity android:name=".Activities.HistoryLevelsActivity" />
    </application>

</manifest>